/* .App {
  text-align: center;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vw;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
}

.header {
  flex: 30%;
  width: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid grey;
}

.header button {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
}

body {
  margin: 0%;
  padding: 0%;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  color: rebeccapurple;
  margin: 15px;
}

.task.content {
  flex: 80%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.task.content span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid greenyellow;
  font-size: 20px;
  border-right: none;
  background-color: aqua;
  color: red;
}

.task button {
  flex: 10%;
  height: 80%;
  border: none;
  margin-left: 50%;
  background-color: black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: aliceblue;
  cursor: pointer;

} */

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  flex: 30%;
  background-color: #fa4659; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://t3.ftcdn.net/jpg/03/21/08/80/360_F_321088012_1Dum4QtqkksIB67cnvm3ydyAxhtEEK86.jpg); */
  /* object-fit: contain; */
  /*width: 640px;
  max-width: 400%; */
  /* transform: scale(2); */
  /* background-image: url(https://i.pinimg.com/564x/e4/b6/b9/e4b6b9dc8c2534e7daddd68889502877.jpg); */
  /* border: 1px solid #ddd;
  border-radius: 4px;
  scroll-padding: -10%;*/
  /* background-position-x: center; */
  /* background-position: 10%; */
  /* background-size: 100%; */
  /* padding-block-end: -50%; */
 /* background-position-y: 10%; */
 /* background-attachment: fixed; */
/* flex-direction: row;  */
/* z-index: -1; */

/* background-repeat:no-repeat; */
/* position:fixed; */
/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed; */
/* height:150px;
top:0px;
left:0px;
width:100%; */
/* height:100%; */
/* z-index:1;
padding-top: 100px; 
height: 10%; */
/* animation: zoom-in-zoom-out 1s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  } */
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 190px;
  height: 35px;
  border: none;
  margin-block-end: 4%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  font-size: 20px;
  color: lightslategray;
  border: 1px solid #54b9e1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header button {
  width: 220px;
  height: 45px;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 10px;
  cursor: pointer;
  background-color: #54b9e1;
  font-size: 20px;
  color: white;
  margin-left: 5%;
  border: 1px solid whitesmoke;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  /* border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  color: white;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.task .content span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: #7c64f4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.task button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: #4ef037;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  cursor: pointer;
  font-size:x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}